In [7]:
import numpy as np

In [11]:
np.__loader__
np.load
np.loadtxt

<function numpy.loadtxt(fname, dtype=<class 'float'>, comments='#', delimiter=None, converters=None, skiprows=0, usecols=None, unpack=False, ndmin=0, encoding='bytes', max_rows=None, *, quotechar=None, like=None)>

In [17]:
a = [1, 2, 3]
b = a

In [18]:
b
a

[1, 2, 3]

In [19]:
a = [2]

In [22]:
b = a 
a

[2]

In [25]:
def append_element(some_list, element):
    some_list.append(element)

In [26]:
data = [1,2,3]

In [27]:
append_element(data,4)

In [37]:
a = "Gabriel"

In [38]:
b = a.replace("l","L")

In [49]:
template =  "{0:.2f} {1:s} are worth US${2:d}"

In [50]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'