In [1]:
import pandas as pd
import random

# Criação do dataset simulado
data = {
    'Nome do Cliente': [],
    'Estabelecimento': [],
    'Hora da Compra': [],
    'Valor': []
}

# Definição do número de transações e clientes com fraude
num_transacoes = 100
clientes_fraude = ['João Silva', 'Maria Santos', 'Pedro Oliveira', 'Ana Costa']

# Geração das transações
for _ in range(num_transacoes):
    nome_cliente = random.choice(['João Silva', 'Maria Santos', 'Pedro Oliveira', 'Ana Costa',
                                 'Lucas Rodrigues', 'Mariana Almeida', 'Ricardo Souza',
                                 'Carla Mendes', 'Fernando Pereira', 'Juliana Santos',
                                 'Rafaela Lima', 'Diego Ferreira'])
    estabelecimento = random.choice(['Supermercado XYZ', 'Livraria ABC', 'Restaurante XYZ',
                                    'Loja de Eletrônicos ABC', 'Cafeteria XYZ', 'Supermercado ABC',
                                    'Restaurante ABC', 'Loja de Roupas XYZ', 'Farmácia ABC',
                                    'Posto de Gasolina XYZ', 'Padaria ABC', 'Academia XYZ'])
    hora_compra = f'{random.randint(0, 23):02d}:{random.randint(0, 59):02d}:{random.randint(0, 59):02d}'
    valor = random.uniform(1.0, 500.0)
    
    if nome_cliente in clientes_fraude:
        valor *= 5  # Multiplica o valor por 5 para simular uma transação fraudulenta
        
    data['Nome do Cliente'].append(nome_cliente)
    data['Estabelecimento'].append(estabelecimento)
    data['Hora da Compra'].append(hora_compra)
    data['Valor'].append(round(valor, 2))

# Criação do DataFrame
df = pd.DataFrame(data)

# Exibição do DataFrame
df

     Nome do Cliente          Estabelecimento Hora da Compra   Valor
0    Mariana Almeida             Livraria ABC       17:25:22  176.95
1   Fernando Pereira              Padaria ABC       13:07:21   73.72
2    Mariana Almeida         Supermercado ABC       02:22:33  132.53
3       Rafaela Lima              Padaria ABC       02:14:33  418.79
4    Mariana Almeida         Supermercado ABC       09:50:15  246.20
..               ...                      ...            ...     ...
95   Lucas Rodrigues          Restaurante ABC       16:20:14  182.53
96      Rafaela Lima       Loja de Roupas XYZ       20:52:16  386.28
97    Pedro Oliveira  Loja de Eletrônicos ABC       09:06:22  747.58
98    Juliana Santos              Padaria ABC       01:01:46  427.12
99   Lucas Rodrigues       Loja de Roupas XYZ       19:31:20  493.07

[100 rows x 4 columns]

In [ ]:
teste =hora_compra.format("12:00:00")

In [31]:
teste1 = valor.__format__("120,00")

ValueError: Invalid format specifier

In [29]:
df

     Nome do Cliente          Estabelecimento Hora da Compra   Valor
0    Mariana Almeida             Livraria ABC       17:25:22  176.95
1   Fernando Pereira              Padaria ABC       13:07:21   73.72
2    Mariana Almeida         Supermercado ABC       02:22:33  132.53
3       Rafaela Lima              Padaria ABC       02:14:33  418.79
4    Mariana Almeida         Supermercado ABC       09:50:15  246.20
..               ...                      ...            ...     ...
95   Lucas Rodrigues          Restaurante ABC       16:20:14  182.53
96      Rafaela Lima       Loja de Roupas XYZ       20:52:16  386.28
97    Pedro Oliveira  Loja de Eletrônicos ABC       09:06:22  747.58
98    Juliana Santos              Padaria ABC       01:01:46  427.12
99   Lucas Rodrigues       Loja de Roupas XYZ       19:31:20  493.07

[100 rows x 4 columns]